/android/BitmapPlasma/.gradle/2.8/taskArtifacts
/android/BitmapPlasma
/android/HelloGL2/.google
/android/HelloGL2/.gradle/2.8/taskArtifacts
/android/HelloGL2/.idea
/android/HelloGL2
/android/HelloJNI/.google
/android/HelloJNI/app
/android/HelloJNI
.google
app
HelloJNI1
MoreTeapots
Debug
/msvc/ipch/SSDP-47ba008f/*.ipch
